<div class="form-row">
  <label class="col-6 col-form-label col-form-label-lg">ログイン時のパスワード入力</label>
  <div class="form-check form-check-inline">
    <input class="form-check-input" type="radio" name="require_password" id="require_password2" value="入力しない">
    <label class="form-check-label" for="require_password2">入力しない</label>
  </div>
  <div class="form-check form-check-inline">
    <input class="form-check-input" type="radio" name="require_password" id="require_password1" value="入力する">
    <label class="form-check-label" for="require_password1">入力する</label>
  </div>
  <%= form_with(model: @employee, url: update_employee_setting_path, id: "password-form", class: "ml-5 row") do |f| %>
    <%= f.text_field :password, class: "mr-3 col-6 form-control form-control-lg" %>
    <button id="password-submit" class="col-5 btn btn-primary btn-lg">パスワード変更</button>
  <% end %>
</div>
