<% if @emp_statuses.present? %>
  <div id="employee_new_content">

    <h5>新規社員を作成します。指定した雇用区分に設定されたテンプレートによって所定労働・休憩時間が自動で設定されます</h5><br>
    <%= render "form", {employee: @employee, emp_statuses: @emp_statuses, emp_exes: @emp_exes, ex_vals: @ex_vals, company_id: @company.id, submit: "新規作成"} %>
  </div>
<% else %>
  <div class="alert alert-danger" role="alert">雇用区分を作成する必要があります</div>
<% end %>
