<div class="form-row">
  <label class="col-6 col-form-label col-form-label-lg">申請を承認/棄却した際の社員への確認メール送信</label>
  <div class="form-check form-check-inline">
    <input class="form-check-input" type="radio" name="send_mail_request_processed" id="send_mail_request_processed1" value="送信する">
    <label class="form-check-label" for="send_mail_request_processed1">送信する</label>
  </div>
  <div class="form-check form-check-inline">
    <input class="form-check-input" type="radio" name="send_mail_request_processed" id="send_mail_request_processed2" value="送信しない">
    <label class="form-check-label" for="send_mail_request_processed2">送信しない</label>
  </div>
</div>
