<div class="form-row">
  <label class="col-2 col-form-label col-form-label-lg"><%= label %></label>
  <div class="form-group">
    <%= form.select sym, pattern_options, {include_blank: true}, {class: "col form-control form-control-lg select-pattern"} %>
  </div>
</div>