<div class="col">
  <label class="form-label form-label-lg"><%= label %></label>
  <div class="form-group">
    <%= form.select sym, pattern_options, {include_blank: true}, {class: "form-control form-control-lg select-pattern"} %>
  </div>
</div>
