$("#contents .alert").remove();
<% if @new_admin.errors.any? %>
  $("#contents").prepend('<p class="alert alert-danger"><%= @message %></p>');
<% else %>
  $("#admins-table tbody").append('<%= j(render "table_row", {row_id: @row_id, row: @row}) %>');
  $("#contents").prepend('<p class="alert alert-primary"><%= @message %></p>');
  $("#create-admin-form input").val('');
  $("#create-admin-form select").val('通常管理者');
<% end %>
