$("#contents .alert").remove();
<% if @work_pattern.errors.any? %>
  <% @work_pattern.errors.full_messages.each do |message| %>
    $("#contents").prepend('<p class="alert alert-danger"><%= message %></p>');
  <% end %>
<% else %>
  $("#pattern-<%= @work_pattern.id %>").fadeOut();
  $(".select-pattern option[value='<%= @work_pattern.id %>']").remove();
  $("#contents").prepend('<p class="alert alert-primary"><%= @message %></p>');
<% end %>
