$("#contents .alert").remove();
<% if @template.errors.any? %>
  $("#contents").prepend('<p class="alert alert-danger"><%= @message %></p>');
<% else %>
  $("#template-<%= @template.id %>").fadeOut();
  $(".select-template option[value='<%= @template.id %>']").remove();
  $("#contents").prepend('<p class="alert alert-primary"><%= @message %></p>');
<% end %>
