$("#contents .alert").remove();
<% if @work_pattern.errors.any? %>
  $("#contents").prepend('<p class="alert alert-danger"><%= @message %></p>');
<% else %>
  $("#template-<%= @id %>").fadeOut();
  $("#contents").prepend('<p class="alert alert-primary"><%= @message %></p>');
<% end %>