/*
*= require normilize
*= require_tree .
*= require_self
*/

// Custom bootstrap variables must be set or imported *before* bootstrap.
@import "bootstrap";

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
th, td {
  border: solid 1px rgb(0, 0, 0);
}
input:hover {
  cursor: pointer;
  opacity: 0.6;
}

.clearfix:after {
  content: "";
  display: block;
  clear: both;
}
.clearfix li {
  float: left;
  margin-right: 1rem;
}

header {
  height: 50px;
  background-color: mediumpurple;
}
.header-left {
  float: left;
}
.header-right {
  float: right;
}
a{
  color: rgb(0, 73, 176);
}
