#clock_flame {
  width: 100%;
}
#clock_date, #clock_time {
  margin: 0;
  padding: 0;
  display: block;
  text-align: center;
}
#clock_date {
  font-size: 2em;
}
#clock_time {
  font-size: 6em;
}
#stamp_form {
  text-align: center;
  margin-top: 40px;
}
#stamp_form input {
  width: 200px;
  font-size: 60px;
  border-radius: 20px;
}
#stamp_form input[value=出勤] {
  background-color: rgb(115, 205, 37);
}
#stamp_form input[value=退勤] {
  background-color: rgb(219, 69, 69);
}
#today_stamp {
  margin-top: 10px;
  text-align: center;
}
