#sys_admin_login_form, #admin_login_form, #employee_login_form {
  display: block;
  margin: 60px auto;
  width: 320px;
}
#pattern-form {
  width: 500px;
}
#pattern-form .form-group {
  margin-left: 5px;
}
#template-form {
  width: 700px;
}
#create-admin-form {
  width: 300px;
}
#employee-form {
  width: 350px;
}
#bulk-create-requests-form {
  display: block;
  margin: 60px auto;
  width: 420px;
}