table.table {
  width: 100%;
}
th, td {
  font-size: 1.4rem;
}
th {
  background-color: mediumpurple;
  color: black;
  text-align: center;
}
th:hover {
  cursor: pointer;
  opacity: 0.6;
}
th.headerSortUp span:after {
  content: "▼";
  font-style: normal;
  font-weight: normal;
  text-decoration: inherit;
}
th.headerSortDown span:after {
  content: "▲";
  font-style: normal;
  font-weight: normal;
  text-decoration: inherit;
}
td {
  text-align: right;
}
.dataTables_empty {
  display: none;
}

#employee-monthly-table_filter {
  display: none;
}

#patterns-table_wrapper {
  width: 500px;
}
#patterns-table_filter {
  display: none;
}

#templates-table_wrapper {
  width: 500px;
}
#templates-table_filter {
  display: none;
}

#statuses-table_wrapper {
  width: 300px;
}
#statuses-table_filter {
  display: none;
}

#admins-table_wrapper {
  width: 700px;
}
#admins-table_filter {
  display: none;
}

#emp-exes-table_wrapper {
  width: 250px;
}
#emp-exes-table_filter {
  display: none;
}
