th, td {
  min-width: 70px;
  border: solid 1px rgb(0, 0, 0);
  font-size: 1.6rem;
}
th {
  background-color: mediumpurple;
  color: black;
  text-align: center;
}
th:hover {
  cursor: pointer;
  opacity: 0.6;
}
th.headerSortUp span:after {
  content: "▼";
  font-style: normal;
  font-weight: normal;
  text-decoration: inherit;
}
th.headerSortDown span:after {
  content: "▲";
  font-style: normal;
  font-weight: normal;
  text-decoration: inherit;
}
td {
  text-align: right;
}